<div>
 {{#with main}}
    <main>
      <section>
        {{> title data="My education" big=true}}
        <ul class="ps-5">
          {{#each educations}}
          <li>
           {{name}}
           {{#if isEnd}} (Finished) {{/if}}
            {{#unless isEnd}}(Learning now) {{/unless}}
          </li>
        {{/each}}
        </ul>

<section>
    {{> title data="My certificates" big=false}}
        <ul>
          {{#each certificates}}
          <li>
           {{name}}
            {{#if id}} ({{id}}) {{/if}}
          </li>
        {{/each}}
        </ul>
</section>
        {{!-- <ul>
          {{#each educations}}
          <li>{{this}}</li>
        {{/each}}
        </ul> --}}
      </section>
    </main>
  {{/with}}
  
</div>