{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}

{{!-- <div class="p-5">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>
</div> --}}

{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}

<main>
<section class="m-5">
    <p class="mt-5">This project has been made for around two months of learning.<br>
     It involved creating a simple website with a number of pages.</p>
     <h2 class="mt-5">List of pages</h2>
</section>

<section class="row m-2 ms-5">
    <h2 class="text-center mb-3">Older pages</h2>
    <div class="card col-2 p-3 m-2">
        <a href="/summary" class="btn btn-secondary ms-1 " target="_blank">Summary</a>
        <a href="/skills" class="btn btn-secondary ms-1 mt-3" target="_blank">Skills</a>
        <a href="/education" class="btn btn-secondary ms-1 mt-3" target="_blank">Education</a>
        <a href="/works" class="btn btn-secondary ms-1 mt-3" target="_blank">Works</a>
    </div>
    <div class="card col-2 p-3 m-2 ms-5">
        <a href="/person" class="btn btn-outline-secondary ms-1" target="_blank">Person</a>
        <a href="/program" class="btn btn-outline-secondary ms-1 mt-3" target="_blank">Program</a>
        <a href="/web" class="btn btn-outline-secondary ms-1 mt-3" target="_blank">Web</a>
        <a href="/bio" class="btn btn-outline-secondary ms-1 mt-3" target="_blank">Bio</a>
    </div>
    <div class="card col-2 p-3 m-2 ms-5">
        <a href="/facebook" class="btn btn-success ms-1" target="_blank">Facebook</a>
        <a href="/car" class="btn btn-success  ms-1 mt-3" target="_blank">Car</a>
        <a href="/mac" class="btn btn-success  ms-1 mt-3" target="_blank">Mac</a>
        <a href="/js" class="btn btn-success  ms-1 mt-3" target="_blank">Js</a>
    </div>
    <div class="card col-2 p-3 m-2 ms-5">
        <a href="/task21" class="btn btn-outline-success ms-1 mt-4" target="_blank">Task21</a>
        <a href="/task22" class="btn btn-outline-success ms-1 mt-3" target="_blank">Task22</a>
        <a href="/task31" class="btn btn-outline-success ms-1 mt-3" target="_blank">Task31</a>
    </div>

</section>

<section class="row mt-5">
    <h2 class="text-center">Online store pages</h2>
    <div class="card col-5 m-5 mt-4 p-3">
        <a href="/shopcart" class="btn btn-warning text-light ms-1 mt-3" target="_blank">Shopcart</a>
        <a href="/shopnews" class="btn btn-warning text-light ms-1 mt-3" target="_blank">Shopnews</a>
        <a href="/shophome" class="btn btn-warning text-light ms-1 mt-3" target="_blank">Hophome</a>
        <a href="/shopcatalog" class="btn btn-warning text-light ms-1 mt-3" target="_blank">Shopcatalog</a>
        </div>
         <div class="card col-5 m-5 mt-4 p-3">
        <a href="/shoporder" class="btn btn-primary ms-1 mt-3" target="_blank">Shoporder</a>
        <a href="/shopproduct" class="btn btn-primary ms-1 mt-3" target="_blank">Shopproduct</a>
        <a href="/shopprofile" class="btn btn-primary ms-1 mt-3" target="_blank">Shopprofile</a>
        <a href="/shopreview" class="btn btn-primary ms-1 mt-3" target="_blank">Shopreview</a>
    </div>
</section>

<div class="mt-5 mb-5"><hr></div>
<footer class="mb-5 ms-2">
    <em>©  Copyright by Ana Nayy</em>
</footer>
</main>