<div class="card mt-3 m-1">
        <div class="nav">
                <div class="nav-item p-4 col-6">
                   <h3>Ana Nayy</h3>
                </div>
                
        <div class="nav-item p-4 col-6 text-end">
                   <h3>Resume project</h3>
                </div>
        </div>
  </div>